<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>errors occurred.</h2>
      <ul>

      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>  
<p id="notice"><%= notice %></p>
<p>
  
  <strong>Profile picture:</strong>
  <%= image_tag @user.image_url %>
  
</p>


<% end %>